<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/反射的练习/src/含有泛型的方法/Genericmethod.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="含有泛型的方法.Genericmethod"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="反射的练习"/>
</launchConfiguration>
